@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


body {
	background:#b0bbc6;
	margin-right:4rem;
}

.never {
	width:20%;
	box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56); 
}

.top {
	border-radius:5px;
	width:95%;
	background:url("../images/gaming.jpg");
	margin-top:0rem;
	height:200px;
	padding:50px;
	margin-left:1rem;
}

.home{
	border-radius: 5px;
	margin-top:40px;
	height:70px;
	color:white;
	padding:11px;
	width:50%;
	font-family: 'Press Start 2P', cursive;
	font-size:27px;
	margin-left:7px;
}

.zero {
	background: rgba(21, 47, 47, 0.8);
	text-align: center;  
	height:210px;
	border-radius:5px;
	line-height: 25px;
	font-size:20px;
	font-family: 'Teko', sans-serif;
	letter-spacing: 2px;
	padding:5px;
}

.zero a {
	color:chartreuse;
	width:40px;
  	letter-spacing: 2px;
	line-height: 20px;
}

.zero h2 {
	text-align: center;
	color:white;
}

.some {
	max-width:350px;
	min-width:320px;
	max-height:250px;
	min-height:330px;
	box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56);    
	padding: 46px;    
	border-radius: 5px;    
	margin-top: 100px;    
	margin-left:55px;    
	background: url("../images/minecraft.jpeg"); 
}

.some h1 {
	text-align:center;
	color:white;
	background:rgba(52, 85, 146, 0.9);
	border-radius:5px;
}

.neo {
	max-width:350px;
	min-width:320px;
	max-height:250px;
	min-height:330px;
  	box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56);    
  	padding: 46px;        
  	border-radius: 5px;        
  	margin-top: 100px;        
  	margin-left:55px;  
	background:url("../images/cod1.jpg");
	background-repeat: no-repeat;
	background-size: cover;                                          
}

.neo h1 {
	text-align:center;
	color:white;
	background:rgba(52, 85, 146, 0.9);
	border-radius:5px;
}

.simple {
	max-width:350px;
	min-width:320px;
	max-height:250px;
	min-height:330px;
	box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56);        
  	padding: 46px;            
  	border-radius: 5px;      
  	margin-top: 100px;            
  	margin-left:55px;            
  	background:url("../images/cyper.jpg");
	background-repeat: no-repeat;
	background-size: cover;         
}

.simple h1 {
	text-align:center;
	color:white;
	background:rgba(52, 85, 146, 0.9);
	border-radius:5px;
}


.good {
	max-width:350px;
	min-width:320px;
	max-height:250px;
	min-height:330px;
	box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56);        
	padding: 46px;            
	border-radius: 5px;      
	margin-top: 100px;            
	margin-left:55px;            
	background:url("../images/battle.jpg");
}

.good h1 {
	text-align:center;
	color:white;
	background:rgba(52, 85, 146, 0.9);
	border-radius:5px;
}


.more {
	max-width:350px;
	min-width:320px;
	max-height:250px;
	min-height:330px;
	box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56);        
	padding: 46px;            
	border-radius: 5px;      
	margin-top: 100px;            
	margin-left:55px;            
	background:url("../images/pubg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.more h1 {
	text-align:center;
	color:white;
	background:rgba(52, 85, 146, 0.9);
	border-radius:5px;
}

.sample {
	max-width:350px;
	min-width:320px;
	max-height:250px;
	min-height:330px;
	box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56);        
	padding: 46px;            
	border-radius: 5px;      
	margin-top: 100px;            
	margin-left:55px;            
	background:url("../images/gta-5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.sample h1 {
	text-align:center;
	color:white;
	background:rgba(52, 85, 146, 0.9);
	border-radius:5px;
}


.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(8);
	grid-gap: 10px;
	font-family: 'Teko', sans-serif;
	margin-top:41px;
} 
